@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

h1 {
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 70px;
}

form {
  margin-left: 300px;
}

input,
label, 
textarea, 
button { 
	display: block;
	border-radius: 0.25rem;
	margin-top: 8px;
	font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

footer {
	color: black;
}

.container {
  display: inline-flex;
}

.messages {
  max-height: 300px;
  max-width: 500px;
  overflow-y: scroll;
  margin-left: 350px;
}

.submit-button {
  border: none;
  padding: 0.75rem;
  background: #ffd700;
  color: inherit;
  cursor: pointer;
  color: black;
}
